%section#top-header.row
  %h1.col-md-2
    - if logged_in?
      = link_to "MyFlix", home_path
    - else
      = link_to "MyFlix", root_path

  - if logged_in?
    %ul.col-md-4.clearfix
      %li= link_to "Videos"
      %li= link_to "My Queue"
      %li= link_to "People"

    -#TODO: button out of alignment
    = form_tag search_videos_path, class: 'col-md-5 navbar-form', method: 'get' do
      .form-group
        = text_field_tag(:search_term, "", class: 'form-control', placeholder: "Search for videos here")
      = submit_tag "Search", class: 'btn btn-default'

    #user_links.pull-right
      %ul
        %li.dropdown
          %a.dropdown-toggle{data: {toggle: "dropdown"}}
            Welcome, #{current_user.full_name} 
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Account", "#"
            %li
              = link_to "Plan and Billing", "#"
            %li
              = link_to "Sign Out", signout_path
